// Custom styles.

@media screen and (min-width: 767px) {
  .page-home {
    .post-body {
      .fancybox{
        img {
          max-width : 400px;
        }
      }
    }
  }

  .post.post-type-normal{
    .post-body {
      .fancybox{
        img {
          max-width : 680px;
        }
      }
    }
  }
}


.links-of-author {
  a {
    font-size:16px;
    margin-right:12px;
    margin-bottom: 12px;
  }

  a:before {
    display: none;
  }
}

.page-post-detail {
  .sidebar-toggle-line { background: #fff; }
}


.resume-link {
  margin-top: 20px;
  a {
    display: inline-block;
    padding: 0 15px;
    color: #1fa67a;
    border: 1px solid #1b926c;
    border-radius: 4px;

    i {
      color: #1fa67a;
      font-size: 14px;
    }

    &:hover {
      color:white;
      background: #1fa67a;

      i { color: white; }
    }
  }
}


